* {
	font-family: Arial;
}

.header {
	background-color: #f1f1f1;
	height: 59px;
	border-bottom: 1px solid #e5e5e5;
	min-width: 100%;
	position: absolute;
	top: 0;	
	display: inline;
}

#logo {
	float: left;
	margin-left: 10px;
	margin-top: 10px;
	margin-right: 15px;
}

.header img {
	float: left;
}

.header-toolbar li{
	display: inline-block;
	float: right;
	list-style-type: none;
	margin: 10px;
	font-size: small;
	color: #222;
	position: relative;
	right: 20px;
	top: -4px;
}

#profile-picture {
	position: relative;
	top: -10px;
}

.header-toolbar a {
	color: #222;
}

.header-toolbar-link:visited {
	color: #222;
	text-decoration: none;
}

.header-toolbar-link:link {
	text-decoration: none;
	color: #222;
}
.header-toolbar-link:hover {
	text-decoration: underline;
}

#your-search{
	width: 487px; height: 28px;
	max-height: 28px; max-width: 488px;
	border-radius: 3px;
	border: 1px solid #d9d9d9;
	border-top: #c0c0c0;	
	float: left;
	font-size: large;
}

input:focus {
	box-shadow:0 0 1px #4d90fe;
    outline: 2px solid #4d90fe;
}

.button-class {
	height: 30px; width: 58px;
	cursor: default;
	outline: 0;
	position: absolute;
	float: left;
	border: 0;
	padding: 0;
	border-radius: 3px;
}

#search-glass {
	margin-right: auto;
	margin-left: auto;
	border: 0;
}

.sub-header {
	height: 54px;
	border-bottom: 1px solid #ebebeb;
	position: relative;
	top: 49px;
	min-width: 100%;
	display: inline-block;
	line-height: 27px;

}
.sub-header-options {
	position: relative;
	left: 70px;
}

.sub-header-options li {
	display: inline-block;
	font-size: small;
	margin-right: 5px;
	padding: 0px 8px 6px;
	/*border-bottom: 3px solid #dd4b39;*/
	margin: 2px 8px 0;

}

.sub-header-options a {
	text-decoration: none;
	color: #777;
}

.sub-header-options a:hover {
	text-decoration: none;
	color: #000000;
}

#web-tag a {
	border-bottom: 3px solid #dd4b39;
	color: #dd4b39;
	font-weight: bold;
	padding: 0px 8px 12px;
	/*border-bottom: 3px solid #dd4b39;*/
	margin: 2px 0px 0;
}

.results {
	position: absolute;
	top: 103px;
	width: 512px;
	border-bottom: 1px solid #ebebeb;
	left: 140px;
	padding-bottom: 15px;
}


body {
	margin: 0 0 59px;
}
.footer {
	background-color: #f2f2f2;
	line-height: 20px;
	border-top: 1px solid #e4e4e4;
	min-width: 100%;
	position: absolute;
	bottom: -100%;
	display: block;
}

.help-footer {
	position: relative;
	left: 95px;
}

.help-footer li {
	display: inline-block;
	color: #555;
	margin: 0 20px 0px 0;
	padding-bottom: 6px;
}

.help-footer a {
	text-decoration: none;
	color: #555;
	font-size: small;
}

.help-footer a:hover {
	text-decoration: underline;
}

.all-result {
	width: 512px; height: 74px;
}

#results-number {
	font-size: small;
	color: #777;
	padding-top: 8px;
}

.result-title {
	margin-bottom: 0;
	font-size: 18px;
	font-weight: normal;
}
.result-title a:link{
	color: #1a0dab;
	text-decoration: none;
}

.result-title a:visited {
	color: #609;
}

.mid-info p, .mid-info a {
	display: inline;
}

.mid-info a {
	text-decoration: none;
	font-size: 14px;
	position: relative;
	left: 4px;
} 

.url-description {
	color: #545454;
	padding-top: 3px;
	font-size: small;
	margin-top: 0;
	font-weight: normal;
}
p.result-link {
	font-size: 14px;
	color: #006621;
	margin: 3px 0 0 0;
}

.result-page-selector {
	width: 512px;
	position: absolute;
	top: 1181px;
	left: 140px;
	margin-left: auto;
	margin-right: auto;
}

.result-page-selector img {
	position: relative;
	margin-left: auto;
	margin-right: auto;
}